@font-face {
    font-family: "montserrat";
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
  }
  
  /* cores back-ground*/
  :root {
    --primary-color: #8f0101;
    --secondary-color: #bb1515;
  
    --background-primary-color: #ffffff;
    --background-secundary-color: #f5f5f5;
    --background-tertiary-color: black;
  
    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
  
    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
  }
  
  /* reset configurações*/
  body,
  h1,
  img,
  p,
  fieldset,
  legend,
  label,
  input,
  select,
  textarea,
  button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
 