.hero .hero-img,
.botton-hero .hero-img{
  height: 400px;
  width: 100%;
}


.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}


.botton-hero .hero-img{
  background: url(../img/botton-hero-img-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .botton-hero .hero-img{
    height: 400px;
    background: url(../img/botton-hero-img-tablet.png) no-repeat;
    background-size: cover;

  }

  .hero h2 {
    padding: 88px 60px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg);
    background-size: cover;
  }

  .botton-hero .hero-img{
    height: 600px;
    background: url(../img/botton-hero-img-desk.png) no-repeat;
    background-size: cover;

  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
