/* cores back-ground*/
:root{
    
    --background-primary-color: #ffffff;
    --background-primary-color: #f5f5f5;
    --background-primary-color: #0000;

    --button-primary-color: #8f0101;
    --button-secondary-color: #bb1515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
}


/* reset configurações*/
body, h1, img, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

